.hero_section{
    background-image: url('../Assets/FB_IMG_1758223057365.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;   
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    margin-bottom: 20px;
}
.hero-services{
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    height: 150px;
    display: flex;
    width: 60%;
    justify-content: center;
    gap: 20px;

}
.travel_destination{
      display: flex;
     justify-content: center; 
    align-items: center; 
   text-align: center;
    margin-bottom: 20px;
  height: fit-content;
}
.travel_destination h2{
     color: #700303;
   /* font-size: 2rem;
    font-weight: bold;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    margin-bottom: 3px;*/
   flex-basis: 100%;
   text-align: center;
   flex-wrap: wrap;
}

@media (max-width: 768px) {
    .hero_section {
        height: 400px;
         background-size: contain;
         text-align: center;
    }
}