.upcoming-events{
    margin: 10px;
    padding: 10px;
    box-sizing: border-box;
    border: 2px solid green;
    height: fit-content;
    width: fit-content;
    border-radius: 2px;
    margin-bottom: 10px;
}

img{
    height: 180px;
    width: 180px;
    object-fit: cover;
    object-position: center;
}
@media(max-width:600px){
   .product{
    background-color: green;
    margin-bottom: 10px;
   }
}