footer {
  width: 100%;
  height: fit-content;
  background-color: #412101;
  display: flex;
  justify-content: space-around;
  align-items: start;
  color: #fea400;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-bottom: 0;
  margin-top: auto;

}
.media_icons {
  cursor: pointer;
 
 
}
.media_icons p{
    margin-bottom: 5px;
    padding: 5px;
  }
.media_icons a {
  padding: 2px;
  margin: 5px;
  color: white;
}
/* .our_space {
  margin: 1rem;
} */
 .newslater input {
  padding: 10px;
  border-radius: 5px;
  border: none;
  outline: none;
  width: 200px;
  margin: 5px;  
  margin-bottom: 10px;
}

.newslater button {
  width: 80px;
  margin: 5px;
}
.footer_links{
  display: flex;
  flex-direction: column;
}
.footer_links a{
  color: #fff;
  text-decoration: none;
  margin: 4px 0;
}
@media (max-width: 600px) {
  footer {
    display: flex;
    flex-direction: column;
    padding: 10px;
    box-sizing: border-box;
    height: fit-content;
    width: 100%;
    margin-top: auto;
  }
  .newslater button {
    color: cyan;
    height: 40px;
    width: 90px;
    gap: 1rem;
  }
  .media_icons p{
    margin-bottom: 5px;
    padding: 10px;
  }
  .media_icons a {
    padding: 3px;
    margin: 5px;
    color: white;  
  }
}
