.typewriter {
  font-family: monospace;
  font-size: 1.5rem;
  white-space: nowrap;
  overflow: hidden;
}

.cursor {
  display: inline-block;
  width: 1ch;
  background-color: currentColor;
  margin-left: 2px;
  animation: blink 0.2s steps(1) infinite;
}

@keyframes blink {
  50% {
    opacity: 0;
  }
}
@media (max-width: 768px) {
  .typewriter {
    font-size: 1rem;
    text-align: center;
     width: 300px;
      white-space: normal;
}  
  }