* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
nav {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: gray;
  position: relative;
  padding: .5rem;
  width: 70%;
  margin: 0 auto;
  border-radius: 7px;

}
nav a {
  text-decoration: none;
}
nav a:hover {
  background-color: blanchedalmond;
  padding: 5px;
  transition: .3s;
  border-radius: 8px; 
}
nav h1 {
  left: 0;
  color: aqua;
  padding-left: 10px;
  cursor: pointer;
}
.product {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
}
@media (max-width: 600px) {
  nav {
    display: block;
    width: 100%;
  }
}
